<div class="people-table" *ngIf="people; else loading">
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      0-20 BBY
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: 0, maxYear: 20}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      21-40 BBY
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: 20, maxYear: 40}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      41-60 BBY
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: 40, maxYear: 60}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      61-80 BBY
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: 60, maxYear: 80}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      81-100 BBY
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: 80, maxYear: 100}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      100+ BBY
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: 100}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      unknown
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {}"
           [ngStyle]="person.mass && person.height ? setBgColor(person): null">
        {{person.name}}
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>
