<div class="people-table" *ngIf="(people$ | async) as people; else loading">
  <div class="people-table__column" *ngFor="let date of dateRange">
    <div class="people-table__cell people-table__cell--header">
      <ng-container *ngIf="date.max; else noMaxDate">
        {{date.min !== 0 ? date.min + 1 : date.min}} - {{date.max}}
      </ng-container>
      <ng-template #noMaxDate>
        {{date.min}} +
      </ng-template>
      <span>BBY</span>
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {minYear: date.min, maxYear: date.max}"
           [ngStyle]="person.mass && person.height && {'background-color': setBgColor(person)}">
        {{person.name}}
      </div>
    </div>
  </div>
  <div class="people-table__column">
    <div class="people-table__cell people-table__cell--header">
      unknown
    </div>
    <div class="people-table__column-content">
      <div class="people-table__cell people-table__cell--person"
           *ngFor="let person of people | person: {}"
           [ngStyle]="person.mass && person.height && {'background-color': setBgColor(person)}">
        {{person.name}}
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>
